<app-ui-kit-input type="text"
                  name="name"
                  placeholder="Name"
                  [style]="['halfRounded', 'primary', 'large', 'fullWidth']">
</app-ui-kit-input>
<app-ui-kit-input type="text"
                  name="surname"
                  placeholder="surname"
                  [style]="['rectangle', 'info', 'small', 'fullWidth']">
</app-ui-kit-input>
<app-ui-kit-input type="text"
                  name="username"
                  placeholder="Username"
                  [style]="['rectangle', 'success', 'medium', 'fullWidth']">
</app-ui-kit-input>
<app-ui-kit-input type="password"
                  name="password"
                  placeholder="Password"
                  [style]="['rounded', 'warning', 'medium', 'halfWidth']">
</app-ui-kit-input>
<app-ui-kit-input type="number"
                  name="number"
                  placeholder="Number"
                  [style]="['rounded', 'danger', 'large', 'halfWidth']">
</app-ui-kit-input>


<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'primary', 'small', 'regular']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'info', 'medium', 'regular']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'success', 'medium', 'regular']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'warning', 'medium', 'regular']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'regular']">
</app-ui-kit-button>

<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'regular']"
                   disabled="true">
</app-ui-kit-button>


<br>

<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'primary', 'small', 'gradient']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'info', 'medium', 'gradient']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'success', 'medium', 'gradient']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'warning', 'medium', 'gradient']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'gradient']">
</app-ui-kit-button>

<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'gradient']"
                   disabled="true">
</app-ui-kit-button>

<br>

<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'primary', 'small', 'outline']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'info', 'medium', 'outline']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'success', 'medium', 'outline']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'warning', 'medium', 'outline']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'outline']">
</app-ui-kit-button>

<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'outline']"
                   disabled="true">
</app-ui-kit-button>


<br>

<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'primary', 'small', 'ghost']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'info', 'medium', 'ghost']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'success', 'medium', 'ghost']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'warning', 'medium', 'ghost']">
</app-ui-kit-button>
<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'ghost']">
</app-ui-kit-button>

<app-ui-kit-button value="Button"
                   [style]="['halfRounded', 'danger', 'large', 'ghost']"
                   disabled="true">
</app-ui-kit-button>

